//------------------------------------------
//
// リソース [main.rc]
// Author: fuma sato
//
//------------------------------------------
#include "resource.h" // 対応するリソースヘッダ

// アイコン
IDI_EXE ICON "app.ico" // exe
